@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext');
html {
    box-sizing: border-box;
    min-height: 100vh;
    background: $gradient;
    background-size: contain;
    // background-repeat: no-repeat;
    background-attachment: fixed;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.body {
    //! CSS TRICK solution for 100vh on mobiles
    /* Fallback for browsers that do not support Custom Properties */
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "first" "second" "third" "forth" "fifth";
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    @media (max-width: $mobile) {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
    &--second {
        grid-template-rows: 200px 1fr minmax(50px, auto);
        grid-template-areas: "first" "second" "third";
    }
}

.footer {
    grid-area: fifth;
    width: 100%;
    height: 100%;
    padding: 0 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &--second {
        grid-area: third;
    }
    &__container {
        max-width: 720px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        max-width: 1rem;
        max-height: 1rem;
        height: 100%;
        width: 100%;
    }
}

.header {
    grid-area: second;
    display: flex;
    justify-content: center;
    &--second {
        flex-direction: column;
        grid-area: first;
        height: 100%;
        padding: 2rem 2rem 0;
    }
    &__heading {
        font-weight: 700;
        font-size: 4.5rem;
        margin: 0;
        &--second {
            font-size: 2.5rem;
        }
        @media(max-width: $mobile) {
            font-size: 10vw;
        }
    }
    &__link {
        align-self: center;
        color: black;
        text-decoration: none;
    }
}

.language {
    &__icon {
        max-width: 1rem;
        max-height: 1rem;
    }
}

.main {
    height: 100%;
    grid-area: third;
    max-width: 100vw;
    width: 100%;
    padding: 2rem 2rem 2rem;
    &--second {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: second;
        padding: 2rem 2rem 1rem;
    }
}

.owner {
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem;
    align-items: center;
    background: white;
    border-radius: 0.3rem;
    @media(max-width: 380px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__avatar {
        flex-shrink: 0;
        max-width: 150px;
        max-height: 150px;
        @media (max-width: $mobile) {
            max-width: 100px;
            max-height: 100px;
        }
        @media(max-width: 380px) {
            padding-bottom: 1rem;
            max-width: 150px;
            max-height: 150px;
        }
    }
    &__bio {
        &:empty {
            display: none;
        }
    }
    &__name {
        margin: 0;
    }
    &__text-wrapper {
        padding-left: 2rem;
        @media(max-width: 380px) {
            padding: 0;
        }
    }
}

.profile {
    max-width: 720px;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 0.3rem;
    padding: 1rem;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.repos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    @media(max-width: $mobile) {
        grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    }
}

.repo {
    border-radius: 0.3rem;
    border: 1px solid #EEE;
    // box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__footer {
        padding: 1rem;
        background: $orange;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 0 0.3rem 0.3rem;
    }
    &__language {
        color: white;
        font-weight: bold;
    }
    &__title {
        margin-top: 0;
    }
    &__text-wrapper {
        padding: 1rem;
    }
    &__link {
        text-decoration: none;
        color: #FBB03B;
        padding-left: 1rem;
        color: white;
        &:hover {
            color: $pink;
        }
    }
}

.search {
    grid-area: second;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--second {
        justify-content: flex-start;
    }
    &__description {
        font-size: 0.75rem;
    }
    &__input {
        max-width: 22rem;
        width: 100%;
        padding: 0 1rem;
        margin: 4rem 0;
        font-size: 1.25rem;
        line-height: 2rem;
        border: 1px solid white;
        border-radius: 2rem;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
        &::placeholder {
            font-weight: 400;
        }
        &--second {
            margin: 1rem 0;
            font-size: 1rem;
        }
    }
}